#contact {
    background-color: black;
    width: 100vw;
    display: flex;
}

.contact-text {
    padding: var(--main-padding);
    flex-basis: 60%;
}

.contact-text h2 {
    color: white;
    font-size: 4rem;
    font-family: var(--Main-Font) ;
}

.contact-text p {
    color: white;
    font-size: 2rem;
    font-family: var(--Secondary-Font);
}

.contact-text h2 span {
    color: var(--Main-Gold)
}

.contact-form {
    padding: var(--main-padding);
    color: white;
    flex-basis: 40%;
    transform: translateY(7%);
}

.contact-form label, button {
    display: block;
    font-size: 2rem;
    font-family: var(--Main-Font);
    margin-top: 20px;
}


.contact-form input, .contact-form textarea {
    width: 80%;
}

.contact-form input {
    height: 40px;
    font-size: 20px;
}

.contact-form textarea {
    font-size: 20px;
}

.contact-form input:focus, .contact-form textarea {
    outline: none;
}

.button {
    margin-top: 10px;
    width:30% !important;
    padding: 10px;
    background-color: var(--Main-Gold);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}