#hero {
    /*position: relative;*/
    z-index: -1;
    height: 100vh;
    width: 100vw;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#hero .intro-text {
    position: absolute;
    top: 35%;
    left: 5%;
}

#hero .intro-text h1 {
    font-family: var(--Main-Font);
    color: var(--Main-Gold);
    font-size: 5rem;
    letter-spacing: 3px;
    text-shadow: 10px 10px 10px black;
}

#hero .intro-text h2 {
    color: white;
    font-family: var(--Secondary-Font);
    margin-bottom: 20px;
}

#hero .intro-text a {
    background-color: var(--Main-Gold);
    padding: 10px 15px;
    border-radius: 30px;
    color: black;
    text-decoration: none;
    font-family: var(--Secondary-Font);
    margin: 0 25px 0 0;
    box-shadow: 10px 10px 10px black;
    font-size: 1rem;
    cursor: pointer;
}

#hero .intro-text a:first-of-type {
    background-color: transparent;
    border: 2px solid var(--Main-Gold);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#hero .intro-text a:first-of-type:hover {
    background-color: var(--Main-Gold);
    color: black;
}

#maya-intro {
    background-color: black;
}

#maya-intro .intro-text {
    text-align: center;
    padding: 70px 70px 0 70px;
    color: var(--Main-Gold)
}

#maya-intro .intro-text h2 {
    font-family: var(--Main-Font);
    color: var(--Main-Gold);
    font-size: 5rem;
}

#maya-intro .intro-text h3 {
    font-family: var(--Secondary-Font);
    color: white;
    font-size: 2rem;
}

#maya-intro .services {
    padding: 0 70px;
    background-color: inherit;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(4, 1fr);
}

#maya-intro .services div {
    padding: var(--main-padding);
    text-align: center;
}

#maya-intro .services div i {
    color: white;
    font-size: 4rem;
}


#maya-intro .services div h2 {
    font-family: var(--Main-Font);
    color: var(--Main-Gold);
    font-size: 2rem;
}

#maya-intro .services div p {
    font-family: var(--Secondary-Font);
    color: white;
}

#maya-intro .services div a {
    background-color: #F9B700;
    text-decoration: none;
    font-family: var(--Secondary-Font);
    color: white;
    padding: 0 20px;
}


#maya-testimonials {
    background-color: black;
    padding: var(--main-padding);
}

#maya-testimonials .intro-text {
    text-align: center;
    font-family: var(--Main-Font);
    color: var(--Main-Gold);
    font-size: 3rem;
    padding: var(--main-padding);
}

#maya-testimonials .testimonials {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
    padding: 0 70px;
    grid-gap: 30px;
}

#maya-testimonials .testimonials div {
    padding: 20px;
    text-align: center;
}


#maya-testimonials .testimonials div p {
    color: white;
    font-family: var(--Secondary-Font);

}

#maya-testimonials .testimonials div p::after, #maya-testimonials .testimonials div p::before {
    content: '"';
}

@media screen and (max-width: 480px) {

    #hero .intro-text {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    #hero .intro-text h1 {
        font-size: 3rem;
    }

    #maya-intro .intro-text h2{
        font-size: 3rem;
    }

    #maya-intro .services {
        grid-template-columns: repeat(1, 1fr);
    }

    #maya-intro .services div {
        padding: 20px 0px;
    }

    #maya-testimonials {
        padding: 20px 0;
    }

    #maya-testimonials .intro-text {
        font-size: 2rem;
        padding: 20px;
    }

    #maya-testimonials .testimonials {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
    }
}
























