#lessons-hero {
    background-image: url('../assets/images/heros/lessons-hero.jpg');
    height: 40vh;
    width: 100vw;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: -1;
}

#lessons-hero::after {
    content: '';
    position: absolute;
    background-color: black;
    opacity: 0.4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

#lessons-hero .lessons-text {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--Main-Font);
    position: relative;

}

#lessons-hero .lessons-text h2 {
    color: var(--Main-Gold);
    font-size: 4rem;
}

#lessons-hero .lessons-text h3 {
    color: white;
    font-size: 2rem;
}

.lesson-blurb {
    padding: 70px 70px 30px 70px;
    background-color: black;
    color: white;
    text-align: center;
}

.lesson-blurb h2 {
    font-family: var(--Main-Font);
    color: var(--Main-Gold);
    font-size: 2rem;
    padding: 20px 0 20px 0;
}

.lesson-blurb p {
    font-family: var(--Secondary-Font);
    margin-bottom: 10px;
}

.lesson-price table {
    background-color: white;
    color: black;
    width: 50%;
    margin: 0 auto;
    padding: 20px 0;
    font-family: var(--Secondary-Font);
    border-collapse: collapse;
}

.faq {
    background-color: black;
    padding: var(--main-padding);
}

.faq h2 {
    text-align: center;
    font-size: 2rem;
    font-family: var(--Main-Font);
    color: var(--Main-Gold);
    margin-bottom: 20px;
}

.content{
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.5s ease;
}
.content p{
    padding: 25px;
    color: black;
    background-color: white;
    text-align: center;
    font-family: var(--Secondary-Font);
}
.content:target{
    max-height: 150px;
}

.title{
    display: block;
    padding: 10px;
    font-size: 2rem;
    background-color: inherit;
    color: var(--Main-Gold);
    border: 1px solid var(--Main-Gold);
    transition: background-color 0.5s;
    font-family: var(--Main-Font);
    text-align: center;
    text-decoration: none;

}
/*.title:hover{*/
/*    background-color: #747d8c;*/
/*}*/





@media screen and (max-width: 480px) {

    #lessons-hero .lessons-text h2 {
        font-size: var(--mobile-heading-size-h3);
    }

    #lessons-hero .lessons-text h3 {
        font-size: var(--mobile-heading-size-h3);
    }

    .lesson-price table {
        width: 100%;
    }

    .faq .accordion {
      padding: 35px;
    }
}



































