@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Main-Font: 'Freeman';
    --Secondary-Font: 'Poppins';
    --Main-Gold: #F9B700;
    --main-padding: 70px 70px 70px 70px;
    --mobile-heading-size-h2: 3rem;
    --mobile-heading-size-h3: 2rem;
    --mobile-padding: 70px 35px 70px 35px;
}

nav {
    width: 100vw;
    padding: 10px 0;
    position: fixed;
    transition: background-color 0.3s ease-in-out;
    z-index: 3;
}

#navbar {
    display: none;
}

nav.active {
    background-color: black;
}

.nav-container {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav-container ul {
    display: flex;
    align-items: center;
}

.nav-container ul li {
    list-style: none;
}

.nav-container ul li a {
    text-decoration: none;
    margin-right: 2rem;
    font-family: var(--Main-Font);
    font-size: 1.5rem;
    color: white;
    transition: color 0.3s ease-in-out;
}

.nav-container ul li a.active {
    color: var(--Main-Gold)
}


.nav-container ul li a:hover {
    color: var(--Main-Gold);
}

#mobile-nav {
    height: 7vh;
    background-color: black;
    width: 100vw;
    position: fixed;
    top: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

#mobile-nav .nav-container {
    display: flex;
    align-items: center;

}

#mobile-nav .nav-container .hamburger {
    height: 20px;
    width: 30px;
   display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#mobile-nav .nav-container .hamburger .line {
    background-color: var(--Main-Gold);
    height: 2px;
    width: 100%;
}

#mobile-nav .nav-container .logo img {
    width: 150px;
}

 .menu {
    height: 100vh;
    width: 70vw;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    transform: translateX(-100vw);
    transition: all 0.3s ease-in-out;
     display: flex;
     align-items: center;
     justify-content: center;
     z-index: 2;
}

 .menu .menu-items {
    color: white;
     font-family: var(--Main-Font);
     font-size: 1.5rem;
 }

 .menu .menu-items ul {
     transition: all 0.3s ease-in-out;
 }

 .menu .menu-items ul li {
     list-style: none;
     padding: 4px 0;
 }

 .menu .menu-items ul li a {
     text-decoration: none;
     color: white;
     cursor: pointer;
     transition: color 0.3s ease-in-out;
 }

.menu .menu-items ul li a.active {
    color: var(--Main-Gold);
}

 .menu .menu-items ul li a:hover {
     color: var(--Main-Gold);
 }

 .menu.open {
     transform: translateX(0);
 }


@media screen and (min-width: 480px) {
    #mobile-nav {
        display: none;
    }

    #navbar {
        display: block;
    }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
    .nav-container {
        flex-direction: column;
        text-align: center;
    }

    .nav-container a img {
        width: 250px;
        padding-bottom: 10px;
    }

    .nav-container ul {
        align-items: center ;
        justify-content: center;
        text-align: center;
    }
}














