#loader {
    display: none;
}

#shop-hero {
    background-image: url('../assets/images/heros/guitar.jpg');
    height: 40vh;
    width: 100vw;
    background-size: cover;
    background-position: center center;
}

#shop-hero .shop-text {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--Main-Font);
    color: var(--Main-Gold);
    flex-direction: column;

}

#shop-hero .shop-text h2 {
    font-size: 4rem;
}

#shop-hero .shop-text h3 {
    color: white;
    font-size: 2rem;
}

.marquee {
    background-color: black;
}

.marquee-content {
    list-style: none;
    display: flex;
    animation: scrolling 50s linear infinite;
}

.marquee-content li {
    display: flex;
    width: 20vw;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    white-space: nowrap;
}

.marquee li img {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.cort {
    width: 125px !important;
    height: 125px !important;
    object-fit: contain !important;
}

@keyframes scrolling {
    0%{transform: translateX(0)}
    100%{transform: translateX(-180vw)}
}

#shop {
    background-color: black;
    padding: 0px 70px 0 70px;
    font-family: var(--Main-Font) !important;
    color: var(--Main-Gold) !important;
    font-size: 2rem !important;
    position: relative;
    z-index: -10;
}

@media screen and (max-width: 480px) {
    #shop-hero .shop-text h2 {
        font-size: var(--mobile-heading-size-h2);
        text-align: center;
    }

    #shop-hero .shop-text h3 {
        font-size: var(--mobile-heading-size-h3);
    }

    .cort {
        width: 50px !important;
        height: 50px !important;
        object-fit: contain !important;
    }

    .marquee {
        position: relative;
        z-index: -10;
    }

    .marquee li img {
        max-width: 70px;
        max-height: 70px;
        object-fit: contain;
    }

    #mobile-nav {
        position: relative;
        z-index: 10;
    }
}

/*#loader {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: rgba(255, 255, 255, 0.5);*/
/*    z-index: 9999;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*#loader::after {*/
/*    content: "";*/
/*    border-top-color: #ff0000;*/
/*    border-left-color: #ff0000;*/
/*    border-right-color: #ff0000;*/
/*    border-bottom-color: #ffffff;*/
/*    border-style: solid;*/
/*    border-width: 15px;*/
/*    border-radius: 50%;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    animation: spin 1.5s linear infinite;*/
/*}*/

/*@keyframes spin {*/
/*    0% {*/
/*        transform: rotate(0deg);*/
/*    }*/
/*    100% {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/

