#shop-hero {
    background-image: url('../assets/images/heros/guitar.jpg');
    height: 40vh;
    width: 100vw;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: -1;
}

#shop-hero .shop-text {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    font-family: var(--Main-Font);
    text-align: center;
}

#shop-hero .shop-text h2 {
    color: var(--Main-Gold);
    font-size: 4rem;
}

#shop-hero .shop-text h3 {
    color: white;
    font-size: 2rem;
}

.marquee {
    background-color: black;
}

.marquee-content {
    list-style: none;
    display: flex;
    animation: scrolling 50s linear infinite;
}

.marquee-content li {
    display: flex;
    width: 20vw;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    white-space: nowrap;
}

.marquee li img {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.cort {
    width: 125px !important;
    height: 125px !important;
    object-fit: contain !important;
}

@keyframes scrolling {
    0%{transform: translateX(0)}
    100%{transform: translateX(-180vw)}
}

#shop {
    background-color: black;
    padding: 0px 70px 0 70px;
    font-family: var(--Main-Font) !important;
    color: var(--Main-Gold) !important;
    font-size: 2rem !important;
    z-index: -10;
}

#loader {
    visibility: hidden;
}
 /*==================== Ecwid Elements - Css ================== */

.grid-category__title-inner {
    color: white !important;
    font-size: 1.5rem !important;
}

.page-title__name ec-header-h1 {
    font-size: 2rem !important;
}

.grid-product__title-inner {
    color: white !important;
}

.pager__count-pages, .pager__button-text, .ec-footer, .pager__pages {
    color: white !important;
}

.ec-link ec-link--muted pager__number {
    color: white;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .pager__number--current {
    color: var(--Main-Gold) !important;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .ec-link--muted, html#ecwid_html body#ecwid_body .ec-size .ec-store .ec-link--muted:visited {
    color: white !important;
}

html#ecwid_html body#ecwid_body div.ecwid-productBrowser {
    color: white !important;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .ec-cart-step__icon--custom svg {
    color: var(--Main-Gold) !important;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .ec-link, html#ecwid_html body#ecwid_body .ec-size .ec-store .ec-link:visited {
    color: white !important;
}

#loader {
    display: none;
}

@media screen and (max-width: 480px) {

    #shop-hero .shop-text h2 {
        font-size: var(--mobile-heading-size-h2);
        text-align: center;
    }

        .cort {
            width: 50px !important;
            height: 50px !important;
            object-fit: contain !important;
        }

        .marquee {
            position: relative;
            z-index: -10;
        }

        .marquee li img {
            max-width: 70px;
            max-height: 70px;
            object-fit: contain;
        }

}

@media screen and (min-width: 480px) and (max-width: 1024px) {
    .marquee li img {
        width: 180px;
        height: 50px;
        object-fit: contain;
    }
}





